.bg__image {
  width: 200px;
  aspect-ratio: 1 / 1;
  background-image: url('../public/poke_ball.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  position: sticky;
  top: 0;
  z-index: -1;
  pointer-events: none;
}

select {
  display: block;
  cursor: pointer;
  margin: 2rem auto 1rem auto;
  width: 60vw;
  min-height: 1.5rem;
  aspect-ratio: 16 / 1;
  text-align: center;
  background-position: center;
  border-radius: 100vw;
  overflow: hidden;
  border: none;
  color: black;
  -webkit-text-stroke: 1px white;
  letter-spacing: 1ch;
  font-size: 1.5rem;
}

select:hover,
select:focus {
  background-blend-mode: soft-light;
  background-color: rgb(68, 68, 68);
  color: white;
  -webkit-text-stroke: 1px black;
}

input {
  display: block;
  width: 80vw;
  border-radius: 100vw;
  margin: 0 auto 2rem auto;
  padding: 0 0 0 1em;
}

input:not(:placeholder-shown) {
  text-align: center;
}

.pokedex__entries {
  max-width: 1200px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 0.85rem;
}

.entry {
  border: none;
  width: 190px;
  aspect-ratio: 1 / 1;
  margin-top: 1rem;
  margin-inline: auto;
  background-color: gray;
  text-align: center;
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #5a5a5a, -6px -6px 12px #ffffff;
  cursor: pointer;
}

.entry:hover,
.entry:focus {
  background-color: #7a7a7a;
}

.entry img {
  margin-left: auto;
  margin-right: auto;
}

.type__1 {
  margin-bottom: 3px;
}

.type__1,
.type__2 {
  margin-inline: auto;
  height: 20px;
  display: flex;
  border-radius: 100vw;
  width: 10ch;
  background-color: white;
  text-transform: capitalize;
}

.type__1 img,
.type__2 img {
  height: 100%;
  margin: 0 0.5em 0 0;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  display: flex;
}

dialog.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

dialog .modal__close_btn {
  border: none;
  background: none;
  float: right;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

dialog .modal__close_btn:hover {
  color: gray;
}

dialog .modal__contents {
  height: 80vh;
  max-width: 1000px;
  background: white;
  margin-inline: auto;
  overflow-y: scroll;
}

.modal__poke_name {
  width: 100%;
  background-color: lightblue;
  padding: 1rem 1rem;
  text-transform: capitalize;
  display: flex;
}

dialog .modal__poke_info {
  display: flex;
  flex-wrap: wrap;
}

dialog .modal__poke_sprite {
  width: 400px;
  aspect-ratio: 1 / 1;
}

.modal__poke_sprite img {
  height: 100%;
  width: 100%;
}

.modal__poke_types {
  display: flex;
  margin: 0 0 0 auto;
  column-gap: 1em;
}

dialog .modal__poke_stats {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.stat {
  display: flex;
  column-gap: 0.5ch;
  margin: 1rem 0.5rem;
  font-size: 0.8rem;
  flex-wrap: wrap;
}

.stat__bar {
  width: 255px;
  height: 24px;
  outline: 1px solid black;
  border-radius: 100vw;
}

.stat__value {
  border-radius: 100vw;
  font-size: 0.8rem;
  display: block;
  text-align: center;
  height: 100%;
  background-color: red;
  transition: 1s;
}

.modal__poke_abilities {
  width: 100%;
  text-align: center;
  background-color: gray;
}

.ability_name {
  background-color: lightblue;
  padding: 1rem 0;
}

.ability_flavor_text {
  padding: 1.5rem 0;
}

.modal__poke_evol {
  padding: 0 1rem;
  display: flex;
}

.mini_sprite.base {
  display: block;
  margin: 0 auto;
}

.mini_sprite {
  background: none;
  border: none;
  cursor: pointer;
}
